# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# VS Code settings
.vscode/

# Logs
*.log

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Temporary files
*.tmp
*.bak
*.swp
*~.nib

# Backup files
*.bak
*.gho
*.ori
*.orig
*.tmp
